.home {
  margin-left: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home .burger {
  display: none;
}
.home section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}
.home section .input {
  display: flex;
  background-color: lightgray;
  width: 599px;
  height: 46px;
  border-radius: 15px;
  align-items: center;
}
.home section .input .searchImg {
  width: 8%;
  margin-left: 20px;
  cursor: pointer;
}
.home section .input input {
  flex: 1;
  border: 0;
  outline: 0;
  background-color: transparent;
  color: #000000;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  width: 90%;
}
.home section .taskArea {
  margin-top: 50px;
  color: #FFF;
}
.home section .taskArea h1 {
  color: #000000;
  font-weight: bolder;
}
.home section .taskArea .taskBox {
  margin-top: 15px;
  background-color: #0047FF;
  width: 586px;
  height: 146px;
  border-radius: 10px;
  padding: 5px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.home section .taskArea .taskBox .taskTopArea {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
}
.home section .taskArea .taskBox .taskTopArea .taskInfo {
  display: flex;
  flex-direction: column;
}
.home section .taskArea .taskBox .taskTopArea .taskInfo .taskTitle {
  font-weight: bolder;
}
.home section .taskArea .taskBox .taskTopArea .taskIconEdit {
  cursor: pointer;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home section .taskArea .taskBox .taskTopArea .menuTask {
  position: absolute;
  width: 194px;
  height: 94px;
  background-color: #FFF;
  color: #8b8a8a;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0 1px 5px 0px #cac6ce;
  right: 300px;
  top: 310px;
}
.home section .taskArea .taskBox .taskTopArea .menuTask div {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}
.home section .taskArea .taskBox .taskBottonArea .taskStatus {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 104px;
  height: 32px;
  background-color: #FFF;
  color: #000000;
  font-weight: bolder;
  border-radius: 5px;
}
.home .newTask {
  background-color: #0047FF;
  padding: 10px;
  color: #FFF;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 156px;
  height: 54px;
  margin: 50px 0px 10px 450px;
  cursor: pointer;
  font-size: 18px;
  font-weight: bolder;
}

@media screen and (max-width: 500px) {
  .home {
    margin-left: 0px;
  }
  .home .burger {
    display: flex;
    position: absolute;
    left: 10px;
    top: 10px;
  }
  .home section {
    align-items: flex-start;
    margin-left: 0px;
  }
  .home section .input {
    width: 95%;
  }
  .home section .taskArea h1 {
    font-size: 30px;
  }
  .home section .taskArea .taskBox {
    width: 310px;
  }
  .home section .taskArea .taskBox .taskTopArea .menuTask {
    right: 61px;
    top: 330px;
  }
  .home .newTask {
    margin: 30px 0px 30px 170px;
  }
}

/*# sourceMappingURL=home.css.map */
