.modalEdit{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    .modalEditBox{
        background-color: #FFF;
        width: 315px;
        height: auto;
        border-radius: 10px;
        padding: 0px 20px;
        .inputEdit{
            border: 1px solid rgb(211, 211, 211);
            border-radius: 10px;
            font-size: 16px;
            margin-bottom: 20px;
            height: 54px;
            input{
                flex: 1;
                border: 0;
                outline: 0;
                background-color: transparent;
                color: #000000;
                font-family: 'Roboto', sans-serif;
                font-size: 18px;
                width: 100%;
                height: 100%;
            }
            legend{
                font-size: 12px;
            }
        }
        .statusEditBox{
            background-color: rgb(211, 211, 211);
            border-radius: 5px;
            padding: 5px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: space-around;
            .statusEdit{
                height: 28px;
                width: 48%;
                border-radius: 5px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-weight: bolder;
            }
            .selected{
                background-color: #FFF;
            }
        }
        .actionButtonsEdit{
            display: flex;
            justify-content: end;
            color: #0047FF;
            font-weight: bolder;
            padding: 15px 0px;
            span{
                margin-right: 10px;
                cursor: pointer;
            }
        }
    }
}

